body {
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  position: absolute;
  width: 100%;
}

.controls-wrapper {
  pointer-events: none;
  position: absolute;
}

.wkt-form {
  margin: 15px;
  pointer-events: all;
}

.wkt-form .add-button {
  cursor: pointer;
}

.geometry-list {
  background-color: #fff;
  margin: 15px 0 0 15px;
  max-height: 480px;
  overflow-y: auto;
  pointer-events: all;
  width: 400px;
}
