<!DOCTYPE html>
<html data-ng-app="geometryList">
<head>
    <title>WKT Visualizer</title>

    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="css/wkt.css" />

    <script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full"
            data-id="dgLoader"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>

    <script src="js/lib/underscore-min.js"></script>

    <script src="js/app/app.js"></script>
    <script src="js/controllers/dg-map.js"></script>
    <script src="js/directives/dg-map.js"></script>
    <script src="js/services/geometry-list.js"></script>
</head>
<body>
    <div id="map"
         dg-map
         data-center="[54.98, 82.89]"
         data-fullscreen-control="false"
         data-zoom="13"
         data-zoom-control="false">
    </div>

    <ul data-ng-controller="GeometryListController" class="geometry-list">
        <li data-ng-repeat="item in geometry">
           <button data-ng-click="removeGeometry($index)">X</button>
           <span>{{ item.wkt }}</span>
        </li>
    </ul>

    <script src="js/app/geometry-list.js"></script>
</body>
</html>
